@tailwind base;
@tailwind components;
@tailwind utilities;

html, body,:root{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{@apply bg-gradient-to-b from-bg-shiny-green via-50% via-bg-light-blue to-bg-light-green}